<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Standard SPA Routing - Fixes /admin and blank refresh issues
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
